# biz-tools config example
# Copy to config.yaml and edit

platforms:
  zenn:
    repo: C:\Users\youre\Documents\git_repo\zenn-devex12
  qiita:
    repo: C:\Users\youre\Documents\git_repo\qiita-content
  note:
    repo: C:\Users\youre\Documents\git_repo\note-content
  wordpress:
    repo: C:\Users\youre\Documents\git_repo\corporate-content
    url: https://trident-capital-symbiosis.com
    username: biz-tools
    app_password: xxxx xxxx xxxx xxxx xxxx xxxx
